*{
    background-color: green;
}
#h1{
    background-color: yellow;
}
.h1{
    background-color: red;
}
/* .maindiv h1{ 
    width: 50%;
    height: 100px;
    max-width: 10%;
    min-width: 40%;
}
.maindiv h1{
    display: inline;
}*/
.maindiv > h1{
    background: #000;
}
.maindiv{
    background-image:url(https://images.unsplash.com/photo-1716369415085-4a6876f91840?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8);
    width: 100%;
    height: 100rem;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
}
/* Psuedo class */
.an:visited{
    background: #91ee05;
}
.mainp{
    text-decoration: none;
    text-transform: lowercase;
    word-spacing: 20px;
    line-height: 100px;
    text-indent: 100px;
    letter-spacing: 10px;
    text-transform: capitalize;

}
.align{
    text-align: end;
}
